/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{
	background-color: white;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
a {
	text-decoration: none;
	color: black;
}
body {
	max-width: 1140px;
	margin:auto;
	padding-top: 38px;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
}
.title-nav {
	display: flex;
	justify-content: space-between;
	padding: 0 0 0 50px;
}
section {
	margin: 50px 0 0 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
img.insta {
	width: 19.36px;
	height: 19.36px;
}

li a:hover {
	color: #B1663C;
}
#logout:hover {
	color: #B1663C;
	cursor: pointer;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
}
.filters {
	padding-bottom: 51px;
	display: flex;
	justify-content: center;
	gap: 10px;
}
.btn {
	background-color: inherit;
	min-width: 100px;
	height: 37px;
	font-family: Syne;
	padding: 0 10px 0 10px;
	color: #1D6154;
	font-size: 16px;
	font-weight: 700;
	border: 1px solid #1D6154;
	border-radius: 60px;
}
.btn:hover {
	background-color: #1D6154;
	color: white;
}
.btn:focus {
	background-color: #1D6154;
	color: white;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact{
	padding-top: 57px;
}
#contact,
.login {
	width: 379px;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form,
.login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input,
.login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label,
.login label {
	margin: 2em 0 1em 0;
}
#contact textarea,
.login textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	border-width: 0;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

input[type="submit"]:hover {
	cursor: pointer;
}

footer {
	background-color: white;
	height: 60px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	padding-right: 107px ;
}

/* ................Log in.................... */

.login-page {
	height: 1024px;
}

#login {
	padding-top: 150px;
	text-align: center;
}
.login a {
	font-size: 1.2em;
	font-weight: 500;
	margin: auto;
}
.login p {
	text-align: center;
	padding-bottom: 368px;
}

.email-error,
.password-error {
	color: red;
}

/* ..............Admin................. */

.publish {
	height: 59px;
	background-color: black;
	margin: 0;
	margin-bottom: 38px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.publish button {
	min-width: 100px;
	height: 37px;
	font-family: "Work Sans" ;
	padding: 0 10px 0 10px;
	color: black;
	background-color: rgb(255, 255, 255);
	font-size: 14px;
	font-weight: 500;
	border: 1px solid white;
	border-radius: 60px;
	margin-left: 20px;
}
.publish button:hover{
	cursor: pointer;
}
.modify {
	display: flex;
	align-items: center;
}
.modify p {
	padding-left: 9px;
}
.white {
	color: white;
}
.black {
	color: black;
}
.intro {
	margin:13px 1000px 0 5%;
}
.title-projects {
	margin-bottom: 51px;
	margin-left: 43.3%;
	display: flex;
	align-items: center;
	gap: 31px;
}
.admin {
	display: none;
}

/* ..........Modal........ */

#modal {
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	background: rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center ;
}
/* ..........Modal galerie........ */

.modal-wrapper {
	box-sizing: border-box;
	width: 630px;
	height: 731px;
	padding: 32px 36px;
	background: #FFFFFF;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}

#close {
	margin-left: 546px;
}
#close:hover{
	cursor: pointer;
}
.modal-wrapper h3 {
	text-align: center;
	font-family: "Work Sans";
	font-weight: 400;
	font-size: 26px;
	padding-top: 16px;
}
.foto-wrapper {
	width: auto;
	height: 433px;
	margin: 36px 57px 0 57px;
	border-bottom: 1px solid #B3B3B3;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 7px;
	grid-row-gap: 10px;
}
.foto-wrapper img {
	width: 100%;
}
.foto-wrapper .move {
	width: auto;
	position: absolute;
	margin-top: -122px;
	margin-left: 39.75px;	
}
.move:hover {
	cursor: pointer;
}
.foto-wrapper .trash {
	width: auto;
	position: absolute;
	margin-top: -122px;
	margin-left: 59.75px;
}
.trash:hover {
	cursor: pointer;
}
.modal-wrapper button {
	font-family: 'Syne';
	font-weight: 700 ;
	font-size: 14px ;
	border-width: 0 ;
	color: white ;
	background-color: #1D6154 ;
	margin: 38px auto 23px auto ;
	width: 237px ;
	height: 36px ;
	text-align: center ;
	border-radius: 60px ;
}
.modal-wrapper button:hover {
	cursor: pointer;
}
.modal-wrapper a {
	text-align: center;
	font-family: "Syne";
	font-weight: 400;
	font-size: 14px;
	font-style: normal;
	color: #D65353;
}

/* ..........Modal ajout photo........ */

.add-foto-wrapper {
	box-sizing: border-box;
	width: 630px;
	height: 670px;
	padding: 30px 30px 55px 30px;
	background: #FFFFFF;
	border-radius: 10px;
	display: none;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.icon {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 16px;
}
.icon svg:hover {
	cursor: pointer;
}
.add-foto {
	box-sizing: border-box;
	width: 420px;
	height: 169px;
	margin-bottom: 30px;
	background-color: #E8F1F6;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	
}
.add-foto img {
	height: 169px;
	object-fit: contain;
}
.mask-foto {
	display: inline;
}
.add-foto svg {
	margin: 28px;
	margin-bottom: 21px;
}
.add-foto-wrapper h3 {
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 26px;
	margin-bottom: 36px;
}
.add-button {
	box-sizing: border-box;
	width: 173px;
	height: 36px;
	border: none;
	background-color: #CBD6DC;
	border-radius: 60px;
	margin-bottom: 7px;
	font-family: 'Work Sans';
	font-weight: 500;
	font-size: 14px;
	color: #306685;
	text-align: center;
	padding-top: 10px;
}
.add-button:hover {
	cursor: pointer;
}
#file {
	display: none;
}
.add-foto p {
	margin-bottom: 19px;
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 10px;
}
.add-foto-wrapper form {
	width: 420px;
	height: 222px;
	margin: 0 0 32px 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border-bottom: 1px solid #B3B3B3;
	padding-bottom: 26px;
}
.add-foto-wrapper form .input {
	width: 100%;
	height: 51px;
	margin-bottom: 21px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 14px;
	color: #444444;
}
.add-foto-wrapper form label {
	margin-bottom: 10px;
	font-family: 'Work Sans';
	font-weight: 500;
	font-size: 14px;
}
#validate {
	box-sizing: border-box;
	width: 237px;
	height: 39px;
	background: #A7A7A7;
	border-radius: 60px;
	border: none;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	color: #FFFFFF;
}
.active {
	background: #1D6154;
}
.active:hover {
	cursor: pointer;
}